<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Listing - AirDox</title>
</head>
<body>
  <h1>Edit Listing</h1>
  <form action="/listings/<%=listing._id%>?_method=PUT" method="POST">
    <input type="text" name="listing[title]" placeholder="Title of the listing" value="<%=listing.title%>">
    <br>
    <br>
    <textarea name="listing[description]" placeholder="Enter description"><%=listing.description%></textarea>
    <br>
    <input type="text" name="listing[image]" placeholder="Enter image URL" value="<%=listing.image%>">
    <br>
    <input name="listing[price]" placeholder="Enter price" type="number" value="<%=listing.price%>">
    <br>
    <input type="text" name="listing[country]" placeholder="Enter country" value="<%=listing.country%>">
    <br>
    <input type="text" name="listing[location]" placeholder="Enter location" value="<%=listing.location%>">
    <br>
    <button type="submit">Update Listing</button>
  </form>
</body>
</html>
