
<%layout('layouts/boilerplate')%>
<body>
  <h3>Listing Details</h3>
  <ul>
    <li><strong>Title:</strong> <%= listing.title %></li>
    <li><strong>Description:</strong> <%= listing.description %></li>
    <li><strong>Price:</strong> $<%= listing.price %></li>
    <li><strong>Location:</strong> <%= listing.location %></li>
    <li><strong>Country:</strong> <%= listing.country %></li>
  </ul>
</body>
